#root {
  min-height: 100vh;
  width: 1200px;
  text-align: center;
}

.app {
  min-height: 100vh;
  width: 1278px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  padding: 20px 0px;
  background: url("https://cdn.pixabay.com/photo/2022/06/21/23/02/background-7276646_1280.jpg") repeat-y;
  background-size: cover;
  background-position: center;
}